@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.landingPage {
}

.section1 {
  background-color: $background-dark;
  height: 100vh;
  width: 100vw;
  @include flexCenter;
  .holeBox {
    img {
      opacity: 0.1;
      transition: opacity 0.3s;
    }
  }
}
.section2 {

}