@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.landingPage {
  @include flexCenter;
  height: 100vh;
  background-color: $background-dark;
  color: $background-light;
  text-align: center;
  .holeBox {
    img {
      opacity: 0.5;
    }
  }
}