@import '../styles/utils/mixins';
@import '../styles/utils/variables';

html, body {
  @include ff-g;
  overflow-x: hidden;
}

.content {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  .scroll-container {
    position: relative;
    width: 100%;
    overflow-x: hidden;
  }

  .stopscanItems {
    width: 100%;
    height: 100vh;
    position: relative;
    //@include flexCenter;
  }

  .section1 {
    background-image: url(../assets/main/cloudBg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include flexCenter;

    .wheel {
      background-image: url(../assets/main/goldWheel.png);
      background-size: cover;
      width: 400px;
      height: 400px;
    }
  }
}

.section2 {
  background-image: url(../assets/main/cloudBg2.png);
  background-size: cover;
  @include flexCenter;
  .carRSide {
    background-image: url(../assets/main/car/carRightSide.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw; // 뷰포트 너비의 40%
    height: 22vw; // 뷰포트 너비의 22% (기존 비율 유지)
    max-width: 550px; // 최대 너비 설정
    max-height: 300px; // 최대 높이 설정
    aspect-ratio: 550 / 300; // 원본 이미지의 비율 유지
    position: absolute;

  }

  .titleText {
    position: absolute;
    font-size: 26rem;
    font-weight: bold;
    color: $background-light;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    z-index: 1;
  }
  .car115Angle {
    background-image: url(../assets/main/car/car115Angle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw; // 뷰포트 너비의 40%
    height: 50vh; // 뷰포트 너비의 22%
    max-width: 650px; // 최대 너비 설정
    max-height: 600px; // 최대 높이 설정
    position: absolute;
    z-index: 2000;
  }
}

.section3 {
  background-image: url("../assets/main/cloudBg3.png");
  background-size: cover;
  z-index: -1000;
}

.section4 {
  background-color: #78CFE0;
  position: relative;
  .car15Angle {
    background-image: url("../assets/main/car/car15Angle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    height: 100vh; // 뷰포트 너비의 22%
    max-width: 650px; // 최대 너비 설정
    max-height: 600px; // 최대 높이 설정
    z-index: 2000;
  }
}

.restWrapContent {
  //background-color: black;
  width: 100%;
  height: 100vh; // 추가
  position: absolute; // 추가
  top: 0; // 추가
  left: 0; // 추가
  z-index: 1; // 추가
  display: flex;
  align-items: center;
  justify-content: center;
  .restContent {
    //background-color: #fa1313;
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .img {
      background-color: blue;
      height: 70vh;
      width: 50vw;
      border-radius: 20px;
      position: relative;
       .arrow{
          background: #548DEE url("../assets/arrowRight.svg") 50% 50% / 60px no-repeat;
          width: 98px;
          height: 98px;
          border-radius: 100px;
          position: absolute;
         top: 50%;
         right: -49px;
         transform: translateY(-50%);

      }

    }


    .txt{
      //background-color: green;
      width: 30vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-size: 4rem;
        font-weight: 700;
        color: white;
        margin: 0;
        text-align: center;
      }
    }
  }
}

.section5 {
  background-color: #78CFE0;
  //background-color: red;
  .car115TwoAngle {
    background-image: url("../assets/main/car/car115Angle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 45vw;
    height: 45vh; // 뷰포트 너비의 22%
    max-width: 650px; // 최대 너비 설정
    max-height: 600px; // 최대 높이 설정
    z-index: 2000;
  }

}
.restWrapContent2 {
  //background-color: black;
  width: 100%;
  height: 100vh; // 추가
  position: absolute; // 추가
  top: 0; // 추가
  left: 0; // 추가
  z-index: 1; // 추가
  display: flex;
  align-items: center;
  justify-content: center;
  .restContent2 {
    //background-color: #545454;
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .img2 {
      background-color: blue;
      height: 70vh;
      width: 50vw;
      border-radius: 20px;
      position: relative;
      .arrow{
        background: #548DEE url("../assets/arrowRight.svg") 50% 50% / 60px no-repeat;
        width: 98px;
        height: 98px;
        border-radius: 100px;
        position: absolute;
        top: 43%;
        left: 0;
        transform: translateX(-50%);

      }

    }


    .txt2{
      //background-color: green;
      width: 30vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        font-size: 4rem;
        font-weight: 700;
        color: white;
        margin: 0;
        text-align: center;
      }
    }
  }
}



.section6 {
  background-color: #78CFE0;
}

.section7 {
  background-color: #78CFE0;
}

.section8 {
  background-color: #78CFE0;
}

.section9 {
  background-color: #78CFE0;
}