@import '../styles/utils/mixins';
@import '../styles/utils/variables';


html, body {
  overflow-x: hidden;
}

.mainPage {
  //@include flexCenter;
  //height: 100vh;
  //width: 100vw;
  display: grid;
  grid-template-rows: repeat(8, 100vh); //
  overflow: hidden;

    .section2, .section3, .section4, .section5, .section6, .section7 .section8 {
       @include flexCenter;
  }
}

.section2 {
      position: relative;

      .cloudBg {
        @include fullBg
       }
      .car115 {
        position: absolute;
        top: -50vh ;
        left: 10vw ;
        transform: translateX(-50%)  translateY(-50%);
        z-index: 1;
        max-width: 50%;
        max-height: 50%;
      }
            .wheelContainer {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 85%;
              height: 85%;
              display: flex;
              justify-content: center;
              align-items: center;

                    .goldWheel {
                      max-width: 80%;
                      max-height: 80%;
                      object-fit: contain;
                  }
           }
}

.section3 {

  img {
    @include fullBg
  }
}

.section4 {
  background-color: blue;
}

.section5 {
  background-color: purple;
}

.section6 {
  background-color: green;
}

.section7 {
  background-color: orange;
}
