@import '../styles/utils/mixins';
@import '../styles/utils/variables';


html, body {
  overflow-x: hidden;
}

.mainPage {
  //@include flexCenter;
  //height: 100vh;
  //width: 100vw;
  display: grid;
  grid-template-rows: repeat(8, 100vh); //
  overflow: hidden;

    .section2, .section3, .section4, .section5, .section6, .section7 .section8 {
       @include flexCenter;
  }
}


.section2Container {
  //position: relative;
  //height: 100vh;
  .cloudBg  {
    @include fullBg
  }
    .section2 {
    position: relative;
    height: 100vh;
      .wheelContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        @include flexCenter;
      }
            .goldWheel {
                //position: absolute;
                //top: 50%;
                //left: 50%;
              @include flexCenter;
                transform: translate(-50%, -50%);
                max-width: 80%;
                 max-height: 80%;
                 object-fit: contain;
                 z-index: 2;
              }
       }

}


.section3Container {

  .cloudBg2  {
    @include fullBg
  }
      .section3{
        position: relative;
        height: 100vh;
      }
  .carContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    width: 100%;
    height: 100%;
    @include flexCenter;
  }
        .carSide{
              position: absolute;
              z-index: 2;
              max-width: 30%;
              height: auto;
  }

}

.section4 {
  background-color: blue;
}

.section5 {
  background-color: purple;
}

.section6 {
  background-color: green;
}

.section7 {
  background-color: orange;
}
