@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  position: relative;
}

.mapContWrap {
  height: 100%;
  width: 405px;
  background-color: $background-light;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.mapContainer {
  flex: 1;
  height: 100%;
  background-color: red;
  z-index: 1;
}

.mapMenu {
  height: 200px;
  padding: 20px 20px 0;
  position: relative;
  background-color: $background-primary;
}

.buttonContainers {
  position: absolute;
  right: 25px;
  top: 22px;
}

.toSeoul,
.toBusan {
  font-size: 0.8rem;
  width: 60px;
  height: 20px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 0 5px;
  position: relative;
  justify-content: center;
  align-items: center;

  .arrowUp,
  .arrowDown {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrowUp {
    background-image: url("../assets/icons/upBlack.svg");
    transform: translateY(-50%) rotate(180deg);
  }

  .arrowDown {
    background-image: url("../assets/icons/downBlack.svg");
  }

  &:hover {
    background-color: #548DEE;
    color: white;
  &.active {
    background-color: #548DEE;
    color: white;
  }
    .arrowUp {
      background-image: url("../assets/icons/upWhite.svg");
    }

    .arrowDown {
      background-image: url("../assets/icons/downWhite.svg");
    }
  }
}

.toSeoul {
  margin-right: 5px;
}

.customDropdown {
  position: relative;
  width: 360px;
  margin-top: 20px;
}

.dropdownHeader {
  height: 60px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  font-size: 16px;

  .downIcon {
    background-image: url("../assets/icons/caretDown.svg");
    background-size: cover;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 8%;
  }
}

.dropdownList {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

  li {
    font-size: 1.6rem;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #548DEE;
    }
  }
}
.menuCont {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.listCount {
  padding: 20px;
  border-bottom: 1px solid #f4f3f3;
}
.restList {
  flex: 1;
  overflow-y: auto;
}

.on {
  padding: 30px 20px;
  border-bottom: 1px solid #f4f3f3;
  overflow: hidden;

  &:hover {
    background-color: #548DEE;
  }

  .tit {
    display: flex;
    justify-content: flex-end; // 오른쪽 정렬
    align-items: center; // 수직 중앙 정렬

    a {
      font-size: 1.6rem;
      margin-right: auto; // 왼쪽으로 밀어냄
    }

    .iconBox {
      display: flex;
      gap: 10px;
    }
  }
}

// =============================================detailPage===================================================

.detailPage {
  position: absolute;
  top: 0;
  right: 0;
  left: 405px;
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 3;

  &.open {
  }
  .imgBox { // 이미지 박스
    width: 350px;
    height: 200px;
    background-color: red;
  }
}

.titDetail { // 휴게소 이름
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid #f4f3f3;
}
.iconBox2 { // 아이콘 박스
  padding: 25px;
  display: flex;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #f4f3f3;
  overflow-x: auto;
  .icons {
    display: grid;
    align-items: center;
    margin-right: 35px;
    gap: 9px;
    img {
      width: 30px;
      height: 20px;
    }

    span {
      position: relative;
      margin: 0;
      left: 2px;
      white-space: nowrap;
    }
  }
}
.infoBox { // 시설정보
  height: 210px;
  border-bottom: 1px solid #f4f3f3;
  .infoTit {
    display: flex;
    padding: 15px 0 0 10px ;
    .upDate {
      position: relative;
      top: 2px;
      margin-left: 175px;
      font-weight: lighter;
    }
  }
}

.fuelDetail { // 주유소, 충전소 표
  padding: 10px;
  .fuelBox {
    height: 140px;
    background-color: #D9D9D9;
  }
}

.menuBox {
  padding: 10px;
  height: 200px;
  border-bottom: 1px solid #f4f3f3;
}

.brandList {
  padding: 10px;
  height: 150px;

}


.closeButton { // 닫기 버튼
  position: absolute;
  //top: px;
  right: -50px;
  width: 50px;
  height: 50px;
  background-image: url("../assets/icons/xMark.svg");
  background-position: center;
  background-size: 60%;
  background-color: $background-light;
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}