@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.cloudContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
}

.cloud {
  position: absolute;
  max-width: 100%;
  height: auto;

  @include mobile {
    max-width: 120%;
    left: -10%;
  }

  @include tablet {
    max-width: 110%;
    left: -5%;
  }
}