@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  //background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $background-light;
    text-align: center;
    margin: 0;
  }
}