// _section1.module.scss
@import '../styles/utils/mixins';
@import '../styles/utils/variables';

.section1 {
  background-image: url(../assets/main/cloudBg.jpeg);
  background-size: cover;
  .wheel {
    background-image: url(../assets/main/goldWheel.png);
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}